<nav>
    <div class="nav-wrapper teal">
        <a href="" class="brand-logo center">
            Pokédex
        </a>
    </div>
</nav>
<router-outlet></router-outlet>

<!-- <div class="container">
    <div class="row">
        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal" pmkBorderCard>
                <div class="card-image">
                    <img [src]="pokemon.picture" />
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{ pokemon.name }}</p>
                        <p><small>{{ pokemon.created | date:"dd/MM/yy" }}</small></p>
                        <span *ngFor="let type of pokemon.types"
                            class="{{ type | pokemonTypeColor }}"
                         >
                            {{ type }}
                        </span>
                    </div>
                </div>
            </div>
           
        </div>
    </div> 
</div> -->

<!-- <p *ngFor="let pokemon of pokemonList">
    {{ pokemon.name }}
</p> -->

<!-- <input 
    #input
    type="number" 
    (keyup.enter)="selectPokemon(input.value)" 
/>

<p *ngIf="pokemonSelected">
    vous avez selectionné le pokémon: {{ pokemonSelected?.name }}
</p>

<p *ngIf="!pokemonSelected">
    Aucun pokémon n'a été trouvé.
</p> -->



<!-- <p>{{ pokemonList[0].name}}</p>
<p>{{ pokemonList[1].name}}</p>
<p>{{ pokemonList[2].name}}</p>
<p>{{ pokemonList[3].name}}</p>
<p>{{ pokemonList[4].name}}</p>
<p>{{ pokemonList[5].name}}</p>
<p>{{ pokemonList[6].name}}</p>
<p>{{ pokemonList[7].name}}</p>
<p>{{ pokemonList[8].name}}</p>
<p>{{ pokemonList[9].name}}</p>
<p>{{ pokemonList[10].name}}</p>
<p>{{ pokemonList[11].name}}</p> -->